.card {
    background-color: var(--primary-color);
    padding: 10px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    width: 200px;
    height: 150px;
    text-align: center;
    /* height: 100px; */
}

.card>i {

    color: #2f3f8b;
    font-size: 2rem;
    margin-bottom: 10px;
    opacity: 0.8;
}

.card>p {
    color: #2f3f8b;

    font-size: 1rem;
    font-weight: 700;
    /* line-height: 1.5; */
}

.card:hover {
    background-color: #2f3f8b;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.3s ease-in-out;
}

.card:hover,
.card:hover i,
.card:hover p {
    color: #fff;

}

@media (max-width: 767px) {
    .card {
        margin: 10px;
        padding: 10px 25px;
        width: 250px;
    }
}