.cards {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    margin: 50px auto 0 auto;
    /* max-width: 1200px; */
    padding: 25px 50px;
    background-color: #2f3f8b;
    /* border-radius: 10px; */

}

@media (max-width: 767px) {
    .cards {
        flex-direction: column;
    }
}